* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(/src/assets/images/background-desktop.svg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100vh;
}

.container {
  border-radius: 4.8rem;
  background: linear-gradient(180deg, #344aba, rgba(0, 20, 121, 0.83));
  box-shadow: inset 0 0.6rem 0 0.2rem #3c74ff, 0 1rem 0 0.4rem #140e66;
  height: 36rem;
  width: 50%;
  padding: 6.4rem 3.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4rem;
  margin: 0 auto;
  margin-top: 20rem;
}

.play__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
  border-radius: 10rem;
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff);
  box-shadow: inset 0 -1.5rem 0 0.6rem #9d2df5, 0 0.4rem 0 0.6rem #243041;
  margin: 0 20rem;
  margin-top: 10rem;
}

.back__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 10rem;
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff);
  box-shadow: inset 0 -0.5rem 0 0.7rem rgba(157, 45, 245, 0.25);
}

.play__btn {
  background-image: url(/src/assets/images/icon-play.svg);
  width: 5rem;
  height: 5rem;
  background-position: center;
  background-size: contain;
}

.back__btn {
  background-image: url(/src/assets/images/icon-back.svg);
  width: 3rem;
  height: 3rem;
  background-position: center;
  background-size: contain;
}

.logo__div {
  background-image: url(/src/assets/images/logo.svg);
  width: 45rem;
  height: 20rem;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  position: absolute;
  top: -10rem;
}

.navbar__categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
}

.navbar__categories h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  -webkit-text-stroke-width: 4;
  -webkit-text-stroke-color: #243041;
  font-size: 7rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 2.4px;
  margin: 0;
  background: linear-gradient(180deg, #67b6ff 16.42%, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  padding: 4rem 4.8rem 4rem 4rem;
}

.grid__link {
  box-shadow: inset 0 -2px 0 3px #140e66;
  padding: 5rem 1rem;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  text-decoration: none;
  line-height: 120%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 100%;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 20px;
  background: #2463ff;
}
